<div class="container-fluid" id="formcliente  ">
<form [formGroup]="formulario"  (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nombre">Nombre:  </label>
    <input type="text" class="form-control" formControlName="nombre" id="nombre" name="nombre" required>
    <label for="cif">CIF:  </label>
    <input type="text" class="form-control" formControlName="cif" id="cif" name="cif" required>
    <label for="direccion">Dirección:  </label>
    <input type="text" class="form-control" formControlName="direccion" id="direccion" name="direccion" required>
    <label for="grupo">Grupo:  <select formControlName="grupo" id="grupo"> &nbsp &nbsp<option>Sin definir</option><option>A</option><option>B</option><option>O</option></select></label>
  </div><br>
  <button type="submit" [disabled]= "formulario.invalid" class="btn btn-primary">Guardar</button>
</form>
</div>